DB_MONGO_HOST=127.0.0.1
DB_MONGO_PORT=27017
DB_MONGO_USER=
DB_MONGO_PASSWORD=
DB_MONGO_DATABASE=
MONGO_AUTH_SOURCE=

DB_HOST_MYSQL=127.0.0.1
DB_USER_MYSQL=root
DB_PASSWORD_MYSQL=
DB_DATABASE_MYSQL=

ML_CATEGORY_HOST=http://localhost:5000
